
@{
    ViewBag.Title = "EmployeerIndex";
    Layout = "~/Views/Shared/Employer_Layout.cshtml";
}

<h2>EmployeerIndex</h2>

<html>
<head>

</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="analytics-sparkle-line reso-mg-b-30">
                    <div class="analytics-content">
                        <b><h5> Total JobPost</h5></b>

                        <h2><span class="counter"><p>@ViewBag.count</p></span> </h2>

                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="analytics-sparkle-line reso-mg-b-30">
                    <div class="analytics-content">
                        <b> <h5>  Total Application</h5></b>

                        <h2><span class="counter"><p>@ViewBag.applyjob</p></span> </h2>

                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="analytics-sparkle-line reso-mg-b-30 table-mg-t-pro dk-res-t-pro-30">
                    <div class="analytics-content">
                        <b><h5> Total Interview</h5></b>

                        <h2><span class="counter"><p>@ViewBag.intv</p></span></h2>

                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="analytics-sparkle-line table-mg-t-pro dk-res-t-pro-30">
                    <div class="analytics-content">
                        <b><h5> Total Hire</h5></b>

                        <h2><span class="counter"><p>@ViewBag.jbsk</p></span> </h2>

                    </div>
                </div>
            </div>
        </div>
    </div>





</body>
</html>
